@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  background-color: rgb(169, 116, 254);
  background-image: linear-gradient(0deg, rgb(169, 116, 254) 0%, #97D9E1 100%);
  background-size: cover;
}

.contenedor {
  padding-left: 15px;
  padding-right: 15px;
}

/* NavBar - CSS Inicio */
header {
  background-color: black !important;
}

.navbar {
  background-color: black !important;
}

.nav-item a {
  color: rgb(169, 116, 254) !important;
  font-size: 20px !important;
}
@media (max-width: 767px) {
  .nav-item a {
    text-align: center;
    font-size: 16px !important;
  }
}

.nav-item a:hover {
  color: #97D9E1 !important;
}

.navbar-toggler { /* MENU HAMBURGUESA */
  border: 2px solid rgb(169, 116, 254) !important;
}

.navbar-brand img { /* LOGO HOME */
  width: 50px;
}

.navbar-brand img:hover {
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

/* NavBar - CSS Final */
/* Footer - CSS Inicio */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  margin-top: 15px;
}

.navInferior {
  margin: 15px;
}

.navInferior a { /* LINKS SUPERIORES */
  color: rgb(169, 116, 254);
  padding: 5px;
}

.navInferior a:hover {
  color: #97D9E1;
  text-decoration: none;
}

.redes a { /* REDES SOCIALES */
  color: rgb(169, 116, 254);
  margin-top: 30px;
  padding: 5px;
}

.redes a:hover {
  color: #97D9E1;
  text-decoration: none;
}

/* Footer - CSS Final */
/* Home - CSS Inicio */
.menuHome { /* MENU HOME - CSS Inicio */
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%), linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%), url(../multimedia/microphone-2618102_1920.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: auto;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 35px;
  position: relative;
  color: white;
}
@media (max-width: 650px) {
  .menuHome {
    padding: 15px;
  }
}

.menuHome h1 {
  color: rgb(169, 116, 254) !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-right: 15px;
}
@media (max-width: 650px) {
  .menuHome h1 {
    font-size: 30px;
  }
}

.menuHome p {
  color: white;
  font-size: 20px;
}
@media (max-width: 650px) {
  .menuHome p {
    font-size: 16px;
  }
}

.botonHome {
  background-color: rgb(169, 116, 254);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid;
  font-size: 20px;
}
@media (max-width: 650px) {
  .botonHome {
    font-size: 16px;
  }
}

.botonHome:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px white;
}

.botonHome a { /* MENU HOME - CSS Final */
  color: black;
  text-decoration: none;
}

.contenedorMenu { /* MAIN CONTENT - CSS Final */
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.rowMenu {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.columnMenu-20 {
  flex: 20%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 30px;
}

.columnMenu-20 h3:hover {
  color: #97D9E1;
}

.columnMenu-20 img {
  border-radius: 10px;
}

.columnMenu-20 p {
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.columnMenu-80 {
  flex: 75%;
  background-color: white;
  text-align: left;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
}

.columnMenu-80 iframe {
  margin-top: 50px;
}

.reproduccion {
  margin-top: 20px;
}

.playEpisode {
  background-color: black;
  color: white;
  padding: 7px;
  margin-right: 10px;
}

.playEpisode i {
  margin-right: 10px;
}

.playEpisode:hover {
  background-color: #97D9E1;
  color: black;
  text-decoration: none;
}

.suscribeBtn {
  color: black;
  padding: 5px;
  border: 3px solid black;
}

.suscribeBtn:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px;
  border: 3px solid black;
}

.rowBot {
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.masEpisodios {
  display: inline-block;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.masEpisodios a {
  text-decoration: none;
  color: black;
}

.masEpisodios:hover {
  background-color: #97D9E1;
}

@media screen and (max-width: 1290px) {
  .columnMenu-20 {
    display: none;
  }
  .contenedorMenu {
    margin-left: 0px;
    margin-right: 0px;
  }
  .columnMenu-80 h1 {
    font-size: 30px;
  }
  .columnMenu-80 h3 {
    font-size: 20px;
  }
  .suscribeBtn {
    display: none;
  }
  .masEpisodios {
    padding: 5px;
  }
  .masEpisodios h4 {
    font-size: 16px;
    padding: 5px;
  }
}
/* Home - CSS Final */
/* Staff - CSS Inicio */
.menuStaff { /* MENU STAFF - CSS Inicio */
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%), linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%), url(../multimedia/radio-4245029_1280\ \(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: auto;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 35px;
  position: relative;
  color: white;
}
@media (max-width: 650px) {
  .menuStaff {
    padding: 15px;
  }
}

.menuStaff h1 {
  color: rgb(169, 116, 254) !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-right: 15px;
}
@media (max-width: 650px) {
  .menuStaff h1 {
    font-size: 30px;
  }
}

.menuStaff p {
  color: white;
  font-size: 20px;
}
@media (max-width: 650px) {
  .menuStaff p {
    font-size: 16px;
  }
}

.botonStaff {
  background-color: rgb(169, 116, 254);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid;
  font-size: 20px;
}
@media (max-width: 650px) {
  .botonStaff {
    font-size: 16px;
  }
}

.botonStaff:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px white;
  color: black;
}

.botonStaff a:hover { /* MENU STAFF - CSS Final */
  color: black;
  text-decoration: none;
}

.botonStaff a { /* MENU STAFF - CSS Final */
  color: black;
  text-decoration: none;
}

.row div { /* BODY STAFF - CSS Inicio */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-md-4 img {
  border-radius: 20px;
  margin-top: 10px;
}

.contenedorStaff {
  text-align: center;
  margin-top: 15px;
}

.col-md-4 img:hover {
  border-radius: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .image-container {
    margin: 15px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(169, 116, 254);
  opacity: 0;
  transition: opacity 0s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  opacity: 1;
  border-radius: 20px;
}

.social-icons {
  display: flex;
}

.social-icons i {
  margin: 5px;
  padding: 10px;
  color: rgb(169, 116, 254);
}

.social-icons i:hover {
  color: white;
} /* BODY STAFF - CSS Final */
/* Staff - CSS Final */
/* Episodios - CSS Inicio */
.menuEpisod { /* MENU EPISODIOS - CSS Inicio */
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%), linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%), url(../multimedia/laptop-4838060_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: auto;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 35px;
  position: relative;
  color: white;
}
@media (max-width: 650px) {
  .menuEpisod {
    padding: 15px;
  }
}

.menuEpisod h1 {
  color: rgb(169, 116, 254) !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-right: 15px;
}
@media (max-width: 650px) {
  .menuEpisod h1 {
    font-size: 30px;
  }
}

.menuEpisod p {
  color: white;
  font-size: 20px;
}
@media (max-width: 650px) {
  .menuEpisod p {
    font-size: 16px;
  }
}

.botonEpisod {
  background-color: rgb(169, 116, 254);
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid;
  font-size: 20px;
}
@media (max-width: 650px) {
  .botonEpisod {
    font-size: 16px;
  }
}

.botonEpisod:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px white;
}

.botonEpisod a:hover {
  color: black;
  text-decoration: none;
}

.botonEpisod a { /* MENU EPISODIOS - CSS Final */
  color: black;
  text-decoration: none;
}

.col-md-4 {
  padding: 20px !important;
}

.imgEpisodios {
  margin: 100px;
}
@media (max-width: 1600px) {
  .imgEpisodios {
    margin: 10px;
  }
}

.imgEpisodios img {
  padding: 10px;
  border-radius: 20px;
}

.imgEpisodios:hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

/* Episodios - CSS Final */
/* Contacto - CSS Inicio */
.menuContacto { /* MENU CONTACTO - CSS Inicio */
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%), linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%), url(../multimedia/laptop-4838060_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(169, 116, 254);
  height: 350px;
  width: auto;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 35px;
  position: relative;
  color: white;
}
@media (max-width: 650px) {
  .menuContacto {
    padding: 15px;
  }
}

.menuContacto h1 {
  color: rgb(169, 116, 254) !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-right: 15px;
}
@media (max-width: 650px) {
  .menuContacto h1 {
    font-size: 30px;
  }
}

.menuContacto p {
  color: white;
  font-size: 20px;
}
@media (max-width: 650px) {
  .menuContacto p {
    font-size: 16px;
  }
}

.botonContacto {
  background-color: rgb(169, 116, 254);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid;
  font-size: 20px;
}
@media (max-width: 650px) {
  .botonContacto {
    font-size: 16px;
  }
}

.botonContacto:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px white;
}

.botonContacto a {
  color: white;
  text-decoration: none;
} /* MENU CONTACTO - CSS Final */
.modal-content { /* CARTEL CONTACTO - CSS INICIO */
  background-color: white;
  color: black;
}

.modal-header {
  background-color: white;
}

.modal-body {
  background: white;
}

.modal-footer {
  background: white;
}

.btn-enviar {
  color: black;
  background-color: rgb(169, 116, 254) !important;
  border: 0px !important;
}

.btn-enviar:hover {
  background-color: #97D9E1 !important;
  border: 0px !important;
  color: black !important;
  box-shadow: 2px 2px 4px black;
} /* CARTEL CONTACTO - CSS FINAL */
.contenedorContact { /* BODY CONTACTO - CSS INICIO */
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.column-20 {
  flex: 0 0 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 40px;
}

.column-20 img {
  border-radius: 40px;
}

.column-80 {
  flex: 0 0 100%;
  background-color: white;
  color: black;
  border-radius: 40px;
}

.contactoBox {
  max-width: 100%;
  padding: 20px;
}

.contactoBox h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inputBox {
  margin-bottom: 10px;
}

.inputBox label {
  display: block;
  margin-bottom: 5px;
}

.inputBox input[type=text],
.inputBox input[type=email],
.inputBox textarea {
  width: 100%;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}

.inputBox textarea {
  height: 100px;
}

.inputBox input[type=submit] {
  background-color: rgb(169, 116, 254);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.inputBox input[type=submit]:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px black;
}

.inputBox input[type=submit]:hover {
  color: black;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* Media queries para diseño responsive */
@media (min-width: 768px) {
  .rowCom {
    flex-wrap: nowrap;
  }
  .column-20 {
    flex: 0 0 20%;
  }
  .column-80 {
    flex: 0 0 80%;
  }
} /* BODY CONTACTO - CSS FINAL */
/* Contacto - CSS Final */
/* Suscripcion - CSS Inicio */
.menuSuscrip { /* MENU SUSCRIPCION - CSS Inicio */
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%), linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%), url(../multimedia/subscribe-6281233_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: auto;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 35px;
  position: relative;
  color: white;
}
@media (max-width: 650px) {
  .menuSuscrip {
    padding: 15px;
  }
}

.menuSuscrip h1 {
  color: rgb(169, 116, 254) !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin-right: 15px;
}
@media (max-width: 650px) {
  .menuSuscrip h1 {
    font-size: 30px;
  }
}

.menuSuscrip p {
  color: white;
  font-size: 20px;
}
@media (max-width: 650px) {
  .menuSuscrip p {
    font-size: 16px;
  }
}

.botonSuscrip {
  background-color: rgb(169, 116, 254);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid;
  font-size: 20px;
}
@media (max-width: 650px) {
  .botonSuscrip {
    font-size: 16px;
  }
}

.botonSuscrip:hover {
  background-color: #97D9E1;
  box-shadow: 2px 2px 4px white;
}

.botonSuscrip a:hover {
  text-decoration: none;
  color: black;
}

.botonSuscrip a { /* MENU SUSCRIPCION - CSS Final */
  color: black;
  text-decoration: none;
}

.contenedorSub { /* BOX SUSCRIPCIONES - CSS Inicio */
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  padding: 40px;
  border-radius: 40px;
}

.boxBorder {
  padding-bottom: 20px;
  padding-top: 10px;
}

.contenedorSub p {
  margin-top: 10px;
}
@media (max-width: 650px) {
  .contenedorSub p {
    font-size: 16px;
  }
}

.contenedorSub h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .contenedorSub h2 {
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
  }
}

.contenedorSub iframe {
  margin-top: 20px;
  margin-bottom: 10px;
}

.patreon {
  text-align: center;
  color: white;
  margin: 20px;
  background-color: rgb(169, 116, 254);
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
@media (max-width: 650px) {
  .patreon {
    margin: 10px;
  }
}

.patreon a {
  color: black;
  text-decoration: none;
}

.patreon a:hover {
  color: black;
  text-decoration: none;
}

.patreon:hover { /* BOX SUSCRIPCIONES - CSS Final */
  background-color: #97D9E1;
  color: black;
  text-decoration: none;
}

/* Suscripcion - CSS Final *//*# sourceMappingURL=style.css.map */