*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// Paleta de Colores
$color1: rgb(169 116 254);
$color2: white;
$color3: black;
$color4: #97D9E1;

// Font Size
$Chico: 16px;
$Mediano: 20px;
$Grande: 30px;

body{
    background-color: $color3;
}
main {
        background-color: $color1;
        background-image: linear-gradient(0deg, $color1 0%, #97D9E1 100%);
        background-size: cover;
}
.contenedor{
    padding-left: 15px;
    padding-right: 15px;
}

/* NavBar - CSS Inicio */
header{
    background-color: $color3!important;
}
.navbar{
    background-color: $color3 !important;
}
.nav-item a{
    color: $color1 !important;
    font-size: $Mediano !important;
    @media (max-width: 767px) {
        text-align: center;
        font-size: $Chico !important;
    }
}
.nav-item a:hover{
    color: $color4 !important;
}
.navbar-toggler{ /* MENU HAMBURGUESA */
    border: 2px solid $color1 !important;
}
.navbar-brand img{ /* LOGO HOME */
    width: 50px;
}
.navbar-brand img:hover{
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}
/* NavBar - CSS Final */

/* Footer - CSS Inicio */
footer{
    background-color: $color3;
    color: $color2;
    text-align: center;
    padding: 10px;
}
footer p{
    margin-top: 15px;
}
.navInferior{
    margin: 15px;
}
.navInferior a{ /* LINKS SUPERIORES */
    color: $color1;
    padding: 5px;
}
.navInferior a:hover{
    color: $color4;
    text-decoration: none;
}
.redes a{ /* REDES SOCIALES */
    color: $color1;
    margin-top: 30px;
    padding: 5px;
}
.redes a:hover{
    color: $color4;
    text-decoration: none;
}
/* Footer - CSS Final */

/* Home - CSS Inicio */
.menuHome{ /* MENU HOME - CSS Inicio */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)95%),
        linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%),
        url(../multimedia/microphone-2618102_1920.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: auto;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 35px;
    position: relative;
    color: white;
    @media (max-width: 650px) {
        padding: 15px;
    }
}
.menuHome h1{
    color: $color1 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
    margin-right: 15px;
    @media (max-width: 650px) {
        font-size: 30px;
    }
}
.menuHome p{
    color: $color2;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonHome{
    background-color: $color1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 15) ;
    border: 0px solid;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonHome:hover{
    background-color: $color4;
    box-shadow: 2px 2px 4px $color2;
}
.botonHome a{ /* MENU HOME - CSS Final */
    color: black;
    text-decoration: none;
}
.contenedorMenu{ /* MAIN CONTENT - CSS Final */
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.contenedorMenu iframe{ /* MAIN CONTENT - CSS Final */
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
/* Home - CSS Final */

/* Staff - CSS Inicio */
.menuStaff{ /* MENU STAFF - CSS Inicio */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)95%),
        linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%),
        url(../multimedia/radio-4245029_1280\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: auto;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 35px;
    position: relative;
    color: white;
    @media (max-width: 650px) {
        padding: 15px;
    }
}
.menuStaff h1{
    color: $color1 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
    margin-right: 15px;
    @media (max-width: 650px) {
        font-size: $Grande;
    }
}
.menuStaff p{
    color: $color2;
    font-size: 20px;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonStaff{
    background-color: $color1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 15) ;
    border: 0px solid;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonStaff:hover{
    background-color: $color4;
    box-shadow: 2px 2px 4px $color2;
    color: $color3;
}
.botonStaff a:hover{ /* MENU STAFF - CSS Final */
    color: black;
    text-decoration: none;
}
.botonStaff a{ /* MENU STAFF - CSS Final */
    color: black;
    text-decoration: none;
}
.row div{/* BODY STAFF - CSS Inicio */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-md-4 img{
    border-radius: 20px;
    margin-top: 10px;
}
.contenedorStaff{
    text-align: center;
    margin-top: 15px;
}
.col-md-4 img:hover{
    border-radius: 20px;
}
.image-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    @media (max-width: 650px) {
        margin: 15px;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: $color1;
    opacity: 0;
    transition: opacity 0s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay:hover {
    opacity: 1;
    border-radius: 20px;
}
.social-icons {
    display: flex;
}
.social-icons i {
    margin: 5px;
    padding: 10px;
    color: $color1;
}
.social-icons i:hover { 
    color: $color2;
}/* BODY STAFF - CSS Final */
/* Staff - CSS Final */

/* Episodios - CSS Inicio */
.menuEpisod{ /* MENU EPISODIOS - CSS Inicio */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)95%),
        linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%),
        url(../multimedia/laptop-4838060_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: auto;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 35px;
    position: relative;
    color: white;
    @media (max-width: 650px) {
        padding: 15px;
    }
}
.menuEpisod h1{
    color: $color1 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
    margin-right: 15px;
    @media (max-width: 650px) {
        font-size: $Grande;
    }
}
.menuEpisod p{
    color: $color2;
    font-size: 20px;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonEpisod{
    background-color: $color1;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 15) ;
    border: 0px solid;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonEpisod:hover{
    background-color: $color4;
    box-shadow: 2px 2px 4px $color2 ;
}
.botonEpisod a:hover{
    color: $color3;
    text-decoration: none;
}
.botonEpisod a{ /* MENU EPISODIOS - CSS Final */
    color: $color3;
    text-decoration: none;
}
.col-md-4{
    padding: 20px !important;
}
.imgEpisodios{
    margin: 100px;
    @media (max-width: 1600px) {
        margin: 10px;
    }
}
.imgEpisodios img{
    padding: 10px;
    border-radius: 20px;
}
.imgEpisodios:hover{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
/* Episodios - CSS Final */

/* Contacto - CSS Inicio */
.menuContacto{ /* MENU CONTACTO - CSS Inicio */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)95%),
        linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%),
        url(../multimedia/laptop-4838060_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color1;
    height: 350px;
    width: auto;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 35px;
    position: relative;
    color: white;
    @media (max-width: 650px) {
        padding: 15px;
    }
}
.menuContacto h1{
    color: $color1 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
    margin-right: 15px;
    @media (max-width: 650px) {
        font-size: $Grande;
    }
}
.menuContacto p{
    color: $color2;
    font-size: 20px;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonContacto{
    background-color: $color1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 15) ;
    border: 0px solid;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonContacto:hover{
    background-color: $color4 ;
    box-shadow: 2px 2px 4px $color2;
}
.botonContacto a{
    color: $color2;
    text-decoration: none;
} /* MENU CONTACTO - CSS Final */
.modal-content{ /* CARTEL CONTACTO - CSS INICIO */
    background-color: $color2;
    color: $color3;
}
.modal-header{
    background-color: $color2;
}
.modal-body{
    background: $color2;
}
.modal-footer{
    background: $color2;
}
.btn-enviar {
    color: $color3;
    background-color: $color1 !important;
    border: 0px !important;
}
.btn-enviar:hover {
    background-color: $color4 !important;
    border: 0px !important;
    color: $color3 !important;
    box-shadow: 2px 2px 4px $color3;
}/* CARTEL CONTACTO - CSS FINAL */
.contenedorContact{ /* BODY CONTACTO - CSS INICIO */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.column-20 {
    flex: 0 0 100%;
    background-color: $color2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 40px;
}
.column-20 img{
    border-radius: 40px;
}
.column-80 {
    flex: 0 0 100%;
    background-color: $color2;
    color: $color3;
    border-radius: 40px;
}
.contactoBox {
    max-width: 100%;
    padding: 20px;
}
.contactoBox h2 {
    text-align: center;
    margin-bottom: 20px;
}
.inputBox {
    margin-bottom: 10px;
}
.inputBox label {
    display: block;
    margin-bottom: 5px;
}
.inputBox input[type="text"],
.inputBox input[type="email"],
.inputBox textarea {
    width: 100%;
    padding: 8px;
    background-color: $color2;
    border-radius: 10px;
}
.inputBox textarea {
    height: 100px;
}
.inputBox input[type="submit"] {
    background-color: $color1;
    color: $color2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.inputBox input[type="submit"]:hover{
    background-color: $color4;
    box-shadow: 2px 2px 4px $color3;
}
.inputBox input[type="submit"]:hover {
color: $color3;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}
/* Media queries para diseño responsive */
@media (min-width: 768px) {
.rowCom {
flex-wrap: nowrap;
}
.column-20 {
flex: 0 0 20%;
}
.column-80 {
flex: 0 0 80%;
}
}/* BODY CONTACTO - CSS FINAL */
/* Contacto - CSS Final */

/* Suscripcion - CSS Inicio */
.menuSuscrip{ /* MENU SUSCRIPCION - CSS Inicio */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)95%),
        linear-gradient(to top, rgb(151, 217, 225) 5%, rgba(41, 245, 184, 0) 95%),
        url(../multimedia/subscribe-6281233_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: auto;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 35px;
    position: relative;
    color: white;
    @media (max-width: 650px) {
        padding: 15px;
    }
}
.menuSuscrip h1{
    color: $color1 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
    margin-right: 15px;
    @media (max-width: 650px) {
        font-size: $Grande;
    }
}
.menuSuscrip p{
    color: $color2;
    font-size: 20px;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonSuscrip{
    background-color: $color1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 15) ;
    border: 0px solid;
    font-size: $Mediano;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.botonSuscrip:hover{
    background-color: $color4;
    box-shadow: 2px 2px 4px $color2;
}
.botonSuscrip a:hover{
    text-decoration: none;
    color: $color3;
}
.botonSuscrip a{ /* MENU SUSCRIPCION - CSS Final */
    color: $color3;
    text-decoration: none;
}
.contenedorSub{ /* BOX SUSCRIPCIONES - CSS Inicio */
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $color2;
    padding: 40px;
    border-radius: 40px;
}
.boxBorder{
    padding-bottom: 20px;
    padding-top: 10px;
}
.contenedorSub p{
    margin-top: 10px;
    @media (max-width: 650px) {
        font-size: $Chico;
    }
}
.contenedorSub h2{
    margin-top: 20px;
    margin-bottom: 10px;
    @media (max-width: 650px) {
        font-size: $Mediano;
        text-decoration: underline;
        padding-bottom: 10px;
    }
}
.contenedorSub iframe{
    margin-top: 20px;
    margin-bottom: 10px;
}
.patreon{
    text-align: center;
    color: $color2;
    margin: 20px;
    background-color: $color1;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    @media (max-width: 650px) {
        margin: 10px;
    }
}
.patreon a{
    color: $color3;
    text-decoration: none;
}
.patreon a:hover{
    color: $color3;
    text-decoration: none;
}
.patreon:hover{ /* BOX SUSCRIPCIONES - CSS Final */
    background-color: $color4;
    color: $color3;
    text-decoration: none;
}
/* Suscripcion - CSS Final */